postgres:
  pg_hba.conf: salt://postgres/pg_hba.conf
  use_upstream_repo: False

  pkg: 'postgresql-9.3'
  pkg_client: 'postgresql-client-9.3'
  pkgs_extra:
    - postgresql-contrib
    - postgresql-plpython

  users:
    localUser:
      ensure: present
      password: '98ruj923h4rf'
      createdb: False
      createroles: False
      createuser: False
      inherit: True
      replication: False

    remoteUser:
      ensure: present
      password: '98ruj923h4rf'
      createdb: False
      createroles: False
      createuser: False
      inherit: True
      replication: False

    absentUser:
      ensure: absent
      password: '98ruj923h4rf'
      createdb: False
      createroles: False
      createuser: False
      inherit: True
      replication: False

  # This section cover this ACL management of the pg_hba.conf file.
  # <type>, <database>, <user>, [host], <method>
  acls:
    - ['local', 'db1', 'localUser']
    - ['host', 'db2', 'remoteUser', '123.123.0.0/24']

  tablespaces:
    my_space:
      directory: /srv/my_tablespace
      owner: localUser

  databases:
    db1:
      owner: 'localUser'
      template: 'template0'
      lc_ctype: 'en_US.UTF-8'
      lc_collate: 'en_US.UTF-8'
      # optional schemas to enable on database
      schemas:
        uuid_ossp:
          owner: localUser
      # optional extensions to enable on database
      extensions:
        uuid-ossp:
          schema: uuid_ossp
    db2:
      owner: 'localUser'
      user: 'remoteUser'
      template: 'template0'
      lc_ctype: 'en_US.UTF-8'
      lc_collate: 'en_US.UTF-8'
      tablespace: 'my_space'
      # optional extensions to enable on database
      # extensions:
      #   postgis:
  # backup extension defaults to .bak if postgresconf_backup is True.
  # Set to False to stop creation of backup on postgresql.conf changes.
  postgresconf_backup: True
  # This section will append your configuration to postgresql.conf.
  postgresconf: |
    listen_addresses = 'localhost,*'

