{% set postgres = salt['grains.filter_by']({
    'Debian': {
        'pkg': 'postgresql-9.1',
        'pkg_dev': 'postgresql-server-dev-9.1',
        'pkg_libpq_dev': 'libpq-dev',
        'python': 'python-pygresql',
        'service': 'postgresql',
        'pg_hba': '/etc/postgresql/9.1/main/pg_hba.conf',
        'conf_dir': '/etc/postgresql/9.1/main',
        'create_cluster': False,
        'init_db': False,
        'version': '9.1',
    },
    'RedHat': {
        'pkg': 'postgresql-server',
        'pkg_dev': 'postgresql-devel',
        'pkg_libpq_dev': 'postgresql-libs',
        'python': 'python-psycopg2',
        'service': 'postgresql',
        'conf_dir': '/var/lib/pgsql/data',
        'create_cluster': False,
        'init_db': True,
        'version': '9.1',
    },
    'Arch': {
        'pkg': 'postgresql',
        'pkg_dev': 'postgresql-devel',
        'pkg_libpq_dev': 'postgresql-libs',
        'python': 'python-psycopg2',
        'service': 'postgresql',
        'conf_dir': '/var/lib/pgsql/data',
        'create_cluster': False,
        'init_db': True,
        'version': '9.1',
    },
}, merge=salt['grains.filter_by']({
    '14.04': {
        'pkg': 'postgresql',
        'pkg_dev': 'postgresql-server-dev-9.3',
        'conf_dir': '/etc/postgresql/9.3/main',
        'service': 'postgresql',
        'create_cluster': True,
        'version': '9.3',
    },
}, grain='lsb_distrib_release', merge=salt['pillar.get']('postgres:lookup'))) %}
